PROJECT_NAME=StellenRadar
ENV=dev

DATABASE_URL=postgresql+psycopg2://user:password@host:5432/dbname

OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX=

TELEGRAM_BOT_TOKEN=
NOTION_API_KEY=
NOTION_DATABASE_ID=
